<mat-card>
  <mat-card-content>
    <form class="inputcontainer" [formGroup]="meting" (ngSubmit)="onSubmit()">
      <h2>Werk</h2>
    <div class="inputveld">
      <mat-form-field>  <!-- werk -->
        <input matInput data-cy="werk" id="werkinput" aria-label="werk" placeholder="Werk" type="text" formControlName="werk" required #spy/>
        <mat-error
          *ngIf="meting.get('werk')['errors'] && meting.get('werk').touched"
        ><!-- is required error-->
          {{ getErrorMessage(meting.get('werk')['errors']) }}
        </mat-error>
      </mat-form-field><!-- is 100 error-->
      <mat-error *ngIf="meting.errors && meting.get('werk').touched" data-cy="errorWerk">
        {{ getErrorMessage(meting.errors) }}
      </mat-error>
    </div> 

      <button type="button" class="collapsible" data-cy="openvouwknop"></button>    <!--openvouwen werk-->
      <div class="content" formArrayName="resultaten" *ngFor="
          let item of meting.get('resultaten')['controls'];
          let i = index
        ">
        <div [formGroupName]="i"> <!--input fields -->     
          <mat-form-field>
            <input matInput data-cy="werkAdmin" id="werkAdminInput" type="text" aria-label="werk administratie" placeholder="Administratie" formControlName="werk_Administratie"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="werkAdminIN" id="werkAdminInputIN" type="text" aria-label="werk administratie IN" placeholder="Energie IN" formControlName="werk_AdministratieIN"/>
          </mat-form-field>
          <mat-form-field >
            <input matInput data-cy="werkAdminUIT" id="werkAdminInputUIT" type="text" aria-label="werk administratie UIT" placeholder="Energie UIT" formControlName="werk_AdministratieUIT"/>
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput data-cy="werkTelKlant" id="werkTelKlantInput" type="text" aria-label="werk telefoneren klanten" placeholder="Telefoneren klanten" formControlName="werk_TelefonerenKlanten"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="werkTelKlantIN" id="werkTelKlantInputIN" type="text" aria-label="werk telefoneren klanten IN" placeholder="Energie IN" formControlName="werk_TelefonerenKlantenIN"/>
          </mat-form-field>
          <mat-form-field >
            <input matInput data-cy="werkTelKlantUIT" id="werkTelKlantInputUIT" type="text" aria-label="werk telefoneren klanten UIT" placeholder="Energie UIT" formControlName="werk_TelefonerenKlantenUIT"/>
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput data-cy="werkBezKlant" id="werkBezKlantInput" type="text" aria-label="werk bezoeken klanten" placeholder="Bezoeken klanten" formControlName="werk_BezoekenKlanten"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="werkBezKlantIN" id="werkTelKlantInputIN" type="text" aria-label="werk telefoneren klanten IN" placeholder="Energie IN" formControlName="werk_BezoekenKlantenIN"/>
          </mat-form-field>
          <mat-form-field >
            <input matInput data-cy="werkBezKlantUIT" id="werkTelKlantInputUIT" type="text" aria-label="werk telefoneren klanten UIT" placeholder="Energie UIT" formControlName="werk_BezoekenKlantenUIT"/>
          </mat-form-field>
          <br />
          <mat-error data-cy="errorOnderCatWerk" *ngIf="item.errors?.nietHonderdSamen1 && (item.get('werk_Administratie').touched || item.get('werk_TelefonerenKlanten').touched || item.get('werk_BezoekenKlanten').touched)">
            {{ getErrorMessage(item.errors) }}<!-- is 100 error-->
          </mat-error>
        </div>
      </div>

      <h2>Relaties</h2>
      <div class="inputveld">
      <mat-form-field> <!-- relaties -->
        <input matInput data-cy="relaties" aria-label="relaties" placeholder="Relaties" type="text" formControlName="relaties" required #spy/>
        <mat-error
          *ngIf="meting.get('relaties')['errors'] && meting.get('relaties').touched"
        ><!-- is required error-->
          {{ getErrorMessage(meting.get('relaties')['errors']) }}
        </mat-error>
      </mat-form-field>
      <mat-error data-cy="errorRelaties" *ngIf="meting.errors && meting.get('relaties').touched">
        {{ getErrorMessage(meting.errors) }}<!-- is 100 error-->
      </mat-error>
    </div>
      <button type="button" class="collapsible" data-cy="openvouwknop"></button> <!--openvouwen relaties-->
      <div class="content" formArrayName="resultaten" *ngFor="
          let item of meting.get('resultaten')['controls'];
          let i = index
        ">
        <div [formGroupName]="i" >  <!--input fields -->
          <mat-form-field>
            <input matInput data-cy="relatiesPartner" id="relatiesPartner" type="text" aria-label="relaties partner" placeholder="Partner" formControlName="relaties_Partner"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="relatiesPartnerIN" id="relatiesPartnerIN" type="text" aria-label="relaties partner IN" placeholder="Energie IN" formControlName="relaties_PartnerIN"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="relatiesPartnerUIT" id="relatiesPartnerUIT" type="text" aria-label="relaties partner" placeholder="Energie UIT" formControlName="relaties_PartnerUIT"/>
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput data-cy="relatiesKinderen" id="relatiesKinderen" type="text" aria-label="relaties kinderen" placeholder="Kinderen" formControlName="relaties_Kinderen"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="relatiesKinderenIN" id="relatiesKinderenIN" type="text" aria-label="relaties kinderen IN" placeholder="Energie IN" formControlName="relaties_KinderenIN"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="relatiesKinderenUIT" id="relatiesKinderenUIT" type="text" aria-label="relaties kinderen UIT" placeholder="Energie UIT" formControlName="relaties_KinderenUIT"/>
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput data-cy="relatiesOuders" id="relatiesOuders" type="text" aria-label="relaties ouders" placeholder="Ouders" formControlName="relaties_Ouders"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="relatiesOudersIN" id="relatiesOudersIN" type="text" aria-label="relaties ouders IN" placeholder="Energie IN" formControlName="relaties_OudersIN"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="relatiesOudersUIT" id="relatiesOudersUIT" type="text" aria-label="relaties ouders UIT" placeholder="Energie UIT" formControlName="relaties_OudersUIT"/>
          </mat-form-field>
          <br />
          <mat-error data-cy="errorOnderCatRelaties" *ngIf="item.errors?.nietHonderdSamen2 && (item.get('relaties_Partner').touched || item.get('relaties_Kinderen').touched || item.get('relaties_Ouders').touched)">
            {{ getErrorMessage(item.errors) }}<!-- is 100 error-->
          </mat-error>
        </div>
      </div>

      <h2>Gezondheid</h2>
      <div class="inputveld">
      <mat-form-field > <!-- gezondheid -->
        <input matInput data-cy="gezondheid" aria-label="gezondheid" placeholder="Gezondheid" type="text" formControlName="gezondheid" required #spy/>
        <mat-error
          *ngIf="meting.get('gezondheid')['errors'] && meting.get('gezondheid').touched"
        ><!-- is required error-->
          {{ getErrorMessage(meting.get('gezondheid')['errors']) }}
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="meting.errors && meting.get('gezondheid').touched">
        {{ getErrorMessage(meting.errors) }}<!-- is 100 error-->
      </mat-error>
</div>
      <button type="button" class="collapsible" data-cy="openvouwknop"></button> <!--openvouwen gezondheid-->
      <div class="content" formArrayName="resultaten" *ngFor="
          let item of meting.get('resultaten')['controls'];
          let i = index
        ">
        <div [formGroupName]="i" >  <!--input fields -->
          <mat-form-field>
            <input matInput data-cy="gezondheidVoeding" id="gezondheidVoeding" type="text" aria-label="gezondheid voeding" placeholder="Voeding" formControlName="gezondheid_Voeding"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="gezondheidVoedingIN" id="gezondheidVoedingIN" type="text" aria-label="gezondheid voeding IN" placeholder="Energie IN" formControlName="gezondheid_VoedingIN"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="gezondheidVoedingUIT" id="gezondheidVoedingUIT" type="text" aria-label="gezondheid voeding UIT" placeholder="Energie UIT" formControlName="gezondheid_VoedingUIT"/>
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput data-cy="gezondheidSport" id="gezondheidSport" type="text" aria-label="gezondheid Sport" placeholder="Sport" formControlName="gezondheid_Sport"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="gezondheidSportIN" id="gezondheidSportIN" type="text" aria-label="gezondheid Sport IN" placeholder="Energie IN" formControlName="gezondheid_SportIN"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="gezondheidSportUIT" id="gezondheidSportUIT" type="text" aria-label="gezondheid Sport UIT" placeholder="Energie UIT" formControlName="gezondheid_SportUIT"/>
          </mat-form-field>
          <br />
          <mat-form-field>
            <input matInput data-cy="gezondheidYoga" id="gezondheidYoga" type="text" aria-label="gezondheid Yoga" placeholder="Yoga" formControlName="gezondheid_Yoga"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="gezondheidYogaIN" id="gezondheidYogaIN" type="text" aria-label="gezondheid Yoga IN" placeholder="Energie IN" formControlName="gezondheid_YogaIN"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="gezondheidYogaUIT" id="gezondheidYogaUIT" type="text" aria-label="gezondheid Yoga UIT" placeholder="Energie UIT" formControlName="gezondheid_YogaUIT"/>
          </mat-form-field>
          <br/>
          <mat-error *ngIf="item.errors?.nietHonderdSamen3 && (item.get('gezondheid_Voeding').touched || item.get('gezondheid_Sport').touched || item.get('gezondheid_Yoga').touched)">
            {{ getErrorMessage(item.errors) }}<!-- is 100 error-->
          </mat-error>
        </div>
      </div>

      <h2>Vrije tijd</h2>
      <div class="inputveld">
      <mat-form-field > <!-- vrije tijd -->
        <input matInput data-cy="vrijetijd" aria-label="vrijetijd" placeholder="Vrije Tijd" type="text" formControlName="vrijetijd" required #spy/>
        <mat-error
          *ngIf="meting.get('vrijetijd')['errors'] && meting.get('vrijetijd').touched"
        > <!-- is required error-->
          {{ getErrorMessage(meting.get('vrijetijd')['errors']) }}
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="meting.errors && meting.get('vrijetijd').touched">
        {{ getErrorMessage(meting.errors) }}
      </mat-error><!-- is 100 error-->
</div>
      <button type="button" class="collapsible" data-cy="openvouwknop"></button> <!--openvouwen vrije tijd-->
      <div class="content" formArrayName="resultaten" *ngFor="  
          let item of meting.get('resultaten')['controls'];
          let i = index
        ">
        <div [formGroupName]="i" >  <!--input fields -->
          <mat-form-field>
            <input matInput data-cy="vrijetijdSM" id="vrijetijdSM" type="text" aria-label="vrijetijd SM" placeholder="SmartPhone" formControlName="vrijetijd_SM"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="vrijetijdSMIN" id="vrijetijdSMIN" type="text" aria-label="vrijetijd SM IN" placeholder="Energie IN" formControlName="vrijetijd_SMIN"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="vrijetijdSMUIT" id="vrijetijdSMUIT" type="text" aria-label="vrijetijd SM UIT" placeholder="Energie UIT" formControlName="vrijetijd_SMUIT"/>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <input matInput data-cy="vrijetijdTV" id="vrijetijdTV" type="text" aria-label="vrijetijd TV" placeholder="TV" formControlName="vrijetijd_TV"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="vrijetijdTVIN" id="vrijetijdTVIN" type="text" aria-label="vrijetijd TV IN" placeholder="Energie IN" formControlName="vrijetijd_TVIN"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="vrijetijdTVUIT" id="vrijetijdTVUIT" type="text" aria-label="vrijetijd TV UIT" placeholder="Energie UIT" formControlName="vrijetijd_TVUIT"/>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <input matInput data-cy="vrijetijdHobby" id="vrijetijdHobby" type="text" aria-label="vrijetijd Hobby" placeholder="Hobby" formControlName="vrijetijd_Hobby"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="vrijetijdHobbyIN" id="vrijetijdHobbyIN" type="text" aria-label="vrijetijd Hobby IN" placeholder="Energie IN" formControlName="vrijetijd_HobbyIN"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput data-cy="vrijetijdHobbyUIT" id="vrijetijdHobbyUIT" type="text" aria-label="vrijetijd Hobby UIT" placeholder="Energie UIT" formControlName="vrijetijd_HobbyUIT"/>
          </mat-form-field>
          <br/>
          <mat-error *ngIf="item.errors?.nietHonderdSamen4 && (item.get('vrijetijd_SM').touched || item.get('vrijetijd_TV').touched || item.get('vrijetijd_Hobby').touched)">
            {{ getErrorMessage(item.errors) }}<!-- is 100 error-->
          </mat-error>
        </div>
      </div>
      
          <button class="opslaan" mat-raised-button type="submit" [disabled]="!meting.valid" >
            Opslaan
          </button>
          <!--<button type="button" (click)="bekijkMeting()">
            Bekijk resultaat meting
          </button>-->

    </form>
  </mat-card-content>
</mat-card>
<mat-card class="error" *ngIf="errorMessage" data-cy="appError">
  got an error while adding the meting: {{ errorMessage }}
</mat-card>
<mat-card
  class="confirmation"
  *ngIf="confirmationMessage"
  data-cy="appConfirmation"
>
  {{ confirmationMessage }}
</mat-card>
