
<div>
    <div class="metingDetails"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="0.5%"
    fxLayoutAlign="start">

        <app-meting [meting]="meting" data-cy="metingCard" class="eenMeting"></app-meting> <!-- een individuale meting met zijn resultaten en score-->

    </div>


    <!-- gauge chart voor de score-->
    <rg-gauge-chart class="chart"
        [canvasWidth]="canvasWidth"
        [needleValue]="needleValue"
        [centralLabel]="centralLabel"
        [options]="options"
        [name]="name"
        [bottomLabel]="bottomLabel">
    </rg-gauge-chart>
    

</div>