<!--de pagina als men doorklikt op een meting-->
<div >
    <div class="metingDetails"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="0.5%"
    fxLayoutAlign="start">

        <app-meting [meting]="meting" data-cy="metingCard" class="eenMeting"></app-meting> <!-- een individuale meting met zijn resultaten en score-->

    </div>


    <!-- gauge chart voor de score-->
    <rg-gauge-chart class="chart"
        [canvasWidth]="canvasWidth"
        [needleValue]="needleValue"
        [centralLabel]="centralLabel"
        [options]="options"
        [name]="name"
        [bottomLabel]="bottomLabel"
        >
    </rg-gauge-chart>
    

</div>

<div class="uitleg">
    Wil je je score verhogen?
    Dan kan je kiezen uit volgende programma's:
    <table>
        <tr>
            <td>score -80 tot +20 :</td>
            <td><a href="https://www.stepsofjoy.be/fundamentals-of-joy">Fundamentals of Joy (wordt aan gewerkt)</a><br/>
                Leer universele wetten kennen die de basis zijn voor groei
                Ontdek eenvoudige en krachtige technieken om je vrij en blij te voelen.
                En geniet van jouw evolutie naar wie je écht bent.</td>
        </tr>
        <tr>
            <td>score -80 tot +80:</td>
            <td>Meditatie (moet nog gemaakt worden)<br/>
                Leer de verschillende facetten van mediteren kennen die je kunt gebruiken in je dagelijks leven om meer rust te ervaren en helder te denken.
            </td>
        </tr>
        <tr>
            <td>score -40 tot +80:</td>
            <td><a href="https://www.stepsofjoy.be/steps-of-joy-online-training">STEPS of Joy (optie met coaching)</a><br/>
                Dit programma biedt een gestructureerd navigatiesysteem om jouw weg te vinden naar een leven vol vreugde.
                Je ontdekt 5 universele krachten die je in je voordeel kunt gebruiken, zodat je met minder moeite jouw toekomst kunt creëren.</td>
        </tr>
        <tr>
            <td>score -40 tot 0 :</td>
            <td><a href="https://www.stepsofjoy.be/minfulness-online-training">Mindfulness</a><br/>
                Situaties heb je niet altijd in de hand, hoe je ermee omgaat wel. Leer eenvoudige technieken om anders om te gaan met moeilijke situaties en 	 			meer te genieten van het leven.
            </td>
        </tr>
    </table>
</div>